@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
    width: 90%;
    margin: auto;
    max-width: 1024px;
}
.m-container{
    width: 90%;
    margin: auto;
    max-width: 1050px;
}

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
  }
}